asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Django==3.1.5
django-appconf==1.0.4
django-ckeditor==6.0.0
django-imagekit==4.0.2
django-js-asset==1.2.2
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jsonify==0.5
MarkupSafe==1.1.1
pilkit==2.0
Pillow==8.1.0
pymongo==3.11.3
pytz==2020.5
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.3
Werkzeug==1.0.1
