:root {
    /* Color */
    --color-pink: #ff9b9b;
    --color-orange: #feb546;
}
* {
    font-family: 'Sunflower', sans-serif;
}
html {
    height: 100%;
}
body {
    margin: 0px;
    height: 100%;
}
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
    margin: 10px;
}
button {
    background-color: transparent;
    border: none;
    outline: none;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px 0 20px;
    background-color: var(--color-pink);
}
.menu {
    display: flex;
}
.logo {
    color: white;
    font-size: 24px;
}
.logo i {
    padding: 0px 5px;
}
.menu li {
    padding: 8px 12px;
    font-size: 18px;
}
.menu li:hover {
    border: 1px solid white;
    border-radius: 5px;
    background-color: var(--color-orange);
}