* {
    font-family: 'Sunflower', sans-serif;
}

.navbar-brand,
.navbar-nav a {
    color: white;
}

button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    transition: all 200ms ease;
}

button.btn {
    transition: all 200ms ease;
}

button:hover {
    border: 1px solid white;
    transform: scale(1.07);
    cursor: pointer;
}

.card-body {
    border-radius: 5px;
}

table {
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.submit {
    margin: auto;
}

ul {
    list-style: none;
    margin: 0;
}

.errorlist li {
    opacity: 0;
}

th,
tr{
    padding: 0px 20px 20px 0;
}

label {
    margin-bottom: 0;
    margin-top: 20px;
}

input {
    margin-bottom: 5px;
}

tbody {
    padding: 40px;
    display: block;
}

select {
    margin-bottom: 5px;
    height: 25px;
    width: 40px;
}

.card-link {
    color: white;
    padding: 8px;
    border-radius: 3px;
}

.card-link:hover {
    color: black;
}

.paginator {
    padding-bottom: 20px;
}
.step-links a {
    color: black;
    font-size: 18px;
}

.current {
    font-size: 18px;
}
